* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main .container {
    border-radius: 5px;
    border: 3px;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    height: 100%;
    border: 10px;
    background-color: rgb(136, 134, 138);
    padding-bottom: 15px;
    border-radius: 5px;
    padding: 15px;
}

.container>div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 90%;
}

main .seesaw {
    width: 100%;
    height: 40rem;
    background-color: aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main div.seesaw div.seesaw_panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: aliceblue;
    position: relative;
}

main div.seesaw div.seesaw_panel>.line {
    padding: 0;
    margin: 0;
    width: 80%;
    min-width: 400px;
    border: 5px solid #65687d;
    box-sizing: border-box;
    transition: transform 2s ease-out;
}

main div.seesaw div.seesaw_panel .triangle {
    width: 0;
    height: 0;
    border-bottom: 40px solid rgb(2, 2, 3);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

@media (max-width: 768px) {

    main .container {
        width: 100%;
    }
}

div .panels {
    display: flex;
    padding-top: 5px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

div .panels div {
    border-radius: 5px;
    padding: 10px;
}

div .panels div.panel {
    padding: 5px;
    font-weight: 300;
    font-size: medium;
    margin: 10px;
    background-color: aliceblue;
}

div .panels>div {
    display: flex;
    flex-direction: column;
    padding: 15;
    align-items: center;
    justify-content: center;
}

section>.reset_button {
    padding: 10px;
    margin: 10px;
    font-size: medium;
    border-radius: px;
    font-size: large;
    border-radius: 9px;
    border: 1px solid #2a2828;
    background-color: #65687d;
}

section>.reset_button>i {
    width: 30px;
}

div .information {
    border: solid 1px;
    background-color: aliceblue;
    width: 100%;
    padding: 3px;
    height: 25%;
    overflow: auto;
    display: block;
}

div.information p.info {
    background-color: rgb(221, 234, 245);
    font-size: medium;
    font-weight: 300;
    padding: 5px;
    margin: 5px;
    margin-bottom: 2px;
    border-radius: 2px;
    border-left: 3px solid;
}

.objectPurses {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;

}