* {}

body {
    height: 100%;
}

section {}

section .seesaw {
    width: 100%;
    height: 25rem;
    background-color: aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section div.seesaw div.group1 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: aliceblue;
}

section div.seesaw div.group1> .line {
    padding: 0;
    margin: 0;
    width: 80%;
    min-width: 400px;
    border: 5px solid #3f3e3e;
    box-sizing: border-box;
}

section div.seesaw div.group1 .triangle {
    width: 0;
    height: 0;
    border-bottom: 40px solid rgb(2, 2, 3);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
